# if, elif, else statements

In [3]:
if True:
    print("Yes! It was true")

Yes! It was true

In [7]:
x = False

if x:
    print("Yes! it was true")
else: 
    print("I will be printed in any case where {} is not true" .format('x'))

I will be printed in any case where x is not true

### Mutiple Branches

In [10]:
loc = 'Andhra Pradesh'
if loc == 'Banglore':
    print("Welcome to the Banglore!")
elif loc == 'Andhra Pradesh':
    print("Welcome to the Andhra Pradesh!")
else:
    print("Going somewhere else")

Welcome to the Andhra Pradesh!

# For Loop

In [11]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in list1:
    print("{} is {}".format('num', num))

num is 1
num is 2
num is 3
num is 4
num is 5
num is 6
num is 7
num is 8
num is 9
num is 10

In [14]:
for num in list1:
    if num % 2 == 0:
        print("{} is {}".format(num, 'even'))

2 is even
4 is even
6 is even
8 is even
10 is even

In [16]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('{} is Odd Number'.format(num))

1 is Odd Number
2
3 is Odd Number
4
5 is Odd Number
6
7 is Odd Number
8
9 is Odd Number
10

In [18]:
list_sum = 0

for num in list1:
    list_sum = list_sum + num

print(list_sum)

55

In [21]:
for i in range(10):
    print("The count is : ", i)

The count is :  0
The count is :  1
The count is :  2
The count is :  3
The count is :  4
The count is :  5
The count is :  6
The count is :  7
The count is :  8
The count is :  9

In [22]:
for i in 'python':
    print('Current Letter : ', i)

Current Letter :  p
Current Letter :  y
Current Letter :  t
Current Letter :  h
Current Letter :  o
Current Letter :  n

In [3]:
fruits = ['banana', 'apple', 'mango']
for fruit in fruits:
    print('Current fruit :', fruit)

Current fruit : banana
Current fruit : apple
Current fruit : mango

In [10]:
for num in range(10, 20):
    for i in range(2, num):
        if num%i == 0:
            j = num/i
            print('%d equals %d * %d' % (num, i, j))
            break
        else:
            print(num, 'is a prime number')
            break

10 equals 2 * 5
11 is a prime number
12 equals 2 * 6
13 is a prime number
14 equals 2 * 7
15 is a prime number
16 equals 2 * 8
17 is a prime number
18 equals 2 * 9
19 is a prime number

# While Loop

In [4]:
count = 0
while(count<9):
    print("The count is : ",count)
    count = count + 1
print("Good Bye!")

The count is :  0
The count is :  1
The count is :  2
The count is :  3
The count is :  4
The count is :  5
The count is :  6
The count is :  7
The count is :  8
Good Bye!

In [13]:
x = 0
while x<10:
    if x < 10:
        print('x is crrently :',x)
        print('x is stille less than 10, adding 1 to it')
        x+=1
print('Done')

x is crrently : 0
x is stille less than 10, adding 1 to it
x is crrently : 1
x is stille less than 10, adding 1 to it
x is crrently : 2
x is stille less than 10, adding 1 to it
x is crrently : 3
x is stille less than 10, adding 1 to it
x is crrently : 4
x is stille less than 10, adding 1 to it
x is crrently : 5
x is stille less than 10, adding 1 to it
x is crrently : 6
x is stille less than 10, adding 1 to it
x is crrently : 7
x is stille less than 10, adding 1 to it
x is crrently : 8
x is stille less than 10, adding 1 to it
x is crrently : 9
x is stille less than 10, adding 1 to it
Done

## Some good examples

In [23]:
lst = [x for x in 'Edunet']
print(lst)

['E', 'd', 'u', 'n', 'e', 't']

In [19]:
for i in 'Edunet':
    print(i)

E
d
u
n
e
t

# Range in Python

for x in range(10):
    print(x)

In [22]:
# Square numbers in range and turn into list
sqr_lst = [x**2 for x in range(0, 11)]
print(sqr_lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
x = range(1, 9, 2)
for n in x:
    print(n)

1
3
5
7

# Pass Statement

In [2]:
a = 33
b = 200
if b>a:
    pass

# Delete Statement

In [3]:
x = ["Physics", "Chemistry", "Maths"]
del x[0]
print(x)

['Chemistry', 'Maths']

# Return Statement

In [4]:
def fun():
    str = 'Hello World'
    x = 10
    return [str, x];

# Driver code to test above method 
list = fun()
print(list)

['Hello World', 10]

# Import Statement

In [5]:
import math

x = math.sqrt(64)
print(x)

8.0

# Break Statement

In [6]:
i = 1
while i < 9:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

# Continue Statement

In [8]:
i = 0
while i < 10:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6
7
8
9
10

# Function

In [12]:
def show(n):         # defining the function
    print("Value is",n)
a = 10

show(a)    # calling the function

Value is 10

In [14]:
def greetings(s):
    print(f"Hello Mr. {s}, Good MOrning!")
    
greetings("Bermunda")

Hello Mr. Bermunda, Good MOrning!

### Local Value

In [16]:
# Example of local variable
def test1():
    a = 10      # Here a is a local variable
    print("Value of a inside function or local variable is :",a)
    
a = 20
test1()
print("Value of a Outside Function :",a)

Value of a inside function or local variable is : 10
Value of a Outside Function : 20

### Global Variable

In [22]:
# Example of global variable

# Global variable as it is outside the scope of function
x = 'awsome'

# Scope starts
def myFunc():
    print("Python is :",x)
#Scope ended

myFunc()

Python is : awsome

### Arguments in Python

In [23]:
# Here a and b arethe parameter

def sum(a, b):
    return a+b

res = sum(10, 20)
print(res)

30

### Arbitrary arguments (*args)

In [27]:
def my_function(*Student):     # It will make the tuple of all the parameters
    print("The brilliant student is",Student[2])
    print(Student)

my_function("Bermunda", "Binod", "Susuwat")

The brilliant student is Pila
('Bermunda', 'Binod', 'Pila')

### Keyword Argument (**Kwargs)

In [34]:
def my_function(**Student):   # It will make the dictionary of parameters as key and arguments as value
    print("The brilliant student is", Student['fname'], Student['lname'])
    print(Student)
    
my_function(fname = "Ravi", lname = "Sharma")

The brilliant student is Ravi Sharma
{'fname': 'Ravi', 'lname': 'Sharma'}

### Lambda Function

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [35]:
x = lambda a: a + 10
print(x(5))

15

In [36]:
x = lambda a, b: a+b
print(x(5, 10))

15

# Libraries

In [37]:
pip install pandas

Requirement already satisfied: pandas in c:\users\sap\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sap\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\sap\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\sap\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\sap\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

### Making our own library

In [1]:
import mygreetings
mygreetings.greeting("Bremunda")

Hello, Bremunda

In [3]:
import info
info.person1['name']

'Bermunda'

### Platform library

In [9]:
import platform

x = platform.system()
# func = dir(platform)
print(x)
# print(func)

Windows

### To see how many function inside math library using dir function

In [7]:
import math

x = dir(math)
print(x)

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

# OOPs

In [13]:
class car:
    def __init__(self, modelname, year):
        self.modelname = modelname
        self.year = year
    def display(self):
        print(self.modelname, self.year)
        
c1 = car('Toyota', 2016)
c1.display()

Toyota 2016

In [21]:
class Person:
    def __init__(mysillyobject, name, age):
        mysillyobject.name = name
        mysillyobject.age = age
        
    def myfunc(obj):
        print("Hello my name is", obj.name)
        
p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

### Single Inheritance

In [23]:
class Parent():
    def first(self):
        print("First Function")
        
class Child(Parent):
    def second(self):
        print("Second function")
        
ob = Child()
ob.first()
ob.second()

First Function
Second function

### Multiple Inheritance

In [24]:
class Parent():
    def func1(self):
        print('Function one')

class Parent1:
    def func2(self):
        print('Function two')
        
class Parent2(Parent, Parent1):
    def func3(self):
        print("Function three")
        
ob = Parent2()
ob.func1()
ob.func2()
ob.func3()

Function one
Function two
Function three