In [1]:
print("Hello World")

Hello World

# Header 1
## Header 2
### Header 3

In [2]:
count = 100
kilometers = 1000.0
name = 'Rahul'

In [2]:
print(count, kilometers, name)

100 1000.0 Rahul

In [3]:
a, b, c = 1, 2, "John"
print(a, b, c, sep=", ")

1, 2, John

# Comments

In [4]:
# This is single line comment:
print("Hello World")

Hello World

In [5]:
#  This is a inline comment:
print("Hello World") # this is hello world program

Hello World

In [6]:
# This is multi line comment:
# This is a comment
# This is a comment
# This is a comment
print("Hello World")

Hello World

# Data Types

In [7]:
# String
x = "Hello World"
print(x)

Hello World

In [8]:
# Integer
x = 20
print(x)

20

In [9]:
# Float
x = 20.5
print(x)

20.5

In [10]:
# List
x = ["apple", "banana", "cherry"]
print(x)

['apple', 'banana', 'cherry']

In [11]:
# Tuple
x = ("apple", "banana", "cherry")
print(x)

('apple', 'banana', 'cherry')

In [12]:
# Range
x = range(6)
print(x)

range(0, 6)

In [13]:
# Dictionary
x= {"name": "John", "age": 36}
print(x)

{'name': 'John', 'age': 36}

In [14]:
# Set
x = {"apple", "banana", "cherry"}
print(x)

{'cherry', 'banana', 'apple'}

In [15]:
# Frozen set
x = frozenset({"apple", "banana", "cherry"})
print(x)

frozenset({'cherry', 'banana', 'apple'})

# Taking input

In [19]:
# Take three input from user
name = input("Enter the name: ")
salary = input("Enter salary: ")
company = input("Enter company name: ")

# Display all values on screen
print("\n")
print("Printing employee details")
print("Name - ",name)
print("Salary - ", salary)
print("Company - ", company)

Enter the name: Barmunda Kumar
Enter salary: 000
Enter company name: Doodle


Printing employee details
Name -  Barmunda Kumar
Salary -  000
Company -  Doodle

# Values

In [20]:
a = 10

In [21]:
a

10

In [22]:
# Mutiple assignment
b, c, d = 11, 12, 13

In [23]:
print(a, b, c, d)

10 11 12 13

In [24]:
a = 32.3e18
type(a)

float

In [25]:
b = 3.14j
type(b)

complex

In [26]:
print(a, b, sep='\n')

3.23e+19
3.14j

# String

In [27]:
str1 = 'Python is a programming language'

In [28]:
print(str1)

Python is a programming language

In [29]:
print(str1[0])

P

In [30]:
print(str1[2:10])

thon is

In [31]:
print(str1[6:18])

 is a progra

# String Formating

In [33]:
# Three curly braces are placeholder
String1 = "{} {} {}".format('Python', 'Programming', 'Language')
print("Print string in default order: ")
print(String1)

Print string in default order:
Python Programming Language

### String formating through indexes

In [35]:
# Positional Formatting
String1 = "{1} {0} {2}".format('Python', 'Programming', 'Language')
print("\nString in Positional order")
print(String1)

String in Positional order
Programming Python Language

In [36]:
# Keyword Fromatting
String1 = "{a} {e} {c}".format(a='Python', e='Programming', c='Language')
print("\nPrint string in order of keyword")
print(String1)

Print string in order of keyword
Python Programming Language

In [38]:
# Program on f-string

val = 'Saswat'
print(f"{val} is the student of my class.")
      
name = 'Abhishek'
age = 19
print(f"Hello, My name is {name} and I'm {age} years old")

Saswat is the student of my class.
Hello, My name is Abhishek and I'm 19 years old

# String Methods
    1. upper()
    2. lower()
    3. title()
    4. capitalize()
    5. swapcase()
    6. isalpha()
    7. isdigit()
    8. join()
    9. strip()
    10. split()

In [39]:
s = "I love my INDIA  "

In [41]:
print("Actual String : ",s)

Actual String :  I love my INDIA

In [42]:
print("Length is : ", len(s))

Length is :  17

In [43]:
s = s.strip()

In [44]:
print("Stripped string : ", s)

Stripped string :  I love my INDIA

In [45]:
print("Length is : ", len(s))

Length is :  15

In [46]:
print("Upper Case : ", s.upper())

Upper Case :  I LOVE MY INDIA

In [47]:
print("Lower case : ", s.lower())

Lower case :  i love my india

In [49]:
print("Title case : ", s.title())

Title case :  I Love My India

In [50]:
print("Capitalize case : ", s.capitalize())

Capitalize case :  I love my india

In [51]:
t = s.split()
print(t)

['I', 'love', 'my', 'INDIA']

In [55]:
k = " ".join(t)
print(k)

I love my INDIA

# Operators

In [57]:
# addition, subtraction, multiplication, division: +, -, *, %, / etc
x = 5
y = 3
print("Addition : ",x+y)
print("Subtraction : ",x-y)
print("Multiply : ",x*y)
print("Divide : ",x/y)

Addition :  8
Subtraction :  2
Multiply :  15
Divide :  1.6666666666666667

### Assignment Operator

In [58]:
x = 5
x += 3
print(x)

8

In [59]:
x = 5
x *= 3
print(x)

15

### Comparison Operator

In [60]:
x = 5
y = 3
print(x == y)

False

In [61]:
x = 5
y = 3
print(x != y)

True

### Logical Operator

In [62]:
x = 5
print(x > 3 and x < 10)

True

In [64]:
x = 5
print(x > 3 or x < 4)

True

# List
Like array in C. But one difference is we can store different types of vaslue in it. The values can be change inside list unlike tuple

*(For Repitation), +(For Concatination)

In [65]:
L = [1, 2, 3, "abes", 12.5]

In [66]:
L

[1, 2, 3, 'abes', 12.5]

In [67]:
L[0:3]

[1, 2, 3]

In [68]:
L[0] = 10

In [69]:
L

[10, 2, 3, 'abes', 12.5]

### Split

In [70]:
# Write a program to take input a sentence and split it in list
text = input("Enter the sentence: ")
print(text.split())

Enter the sentence: I love my India
['I', 'love', 'my', 'India']

### Concatenation

In [74]:
list1 = ['abcd', 786, 2.23, 'john', 70.2]
small = [123, 'john']

In [75]:
print(small * 2) # Print list two times

[123, 'john', 123, 'john']

In [76]:
print(list1 + small) # Cocatenate the list

['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

# Tuple

It is a ummutable datatype(unchangable)

In [77]:
tuple1 = ('abcd', 786, 2.23, 'john', 70.2)
tuple2 = (123, 'john')

In [79]:
print(tuple1)

('abcd', 786, 2.23, 'john', 70.2)

In [80]:
print(tuple1[0])

abcd

In [81]:
print(tuple1[1:3])

(786, 2.23)

In [82]:
print(tuple1[2:])

(2.23, 'john', 70.2)

In [83]:
print(tuple2 * 2)

(123, 'john', 123, 'john')

In [84]:
print(tuple1 + tuple2)

('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [85]:
tuple1 = ('pqrs', 123, 2.14, 'python', 98.6)
list1 = ['pqrs', 123, 2.14, 'python', 98.6]

In [86]:
tuple1[2] = 1000     # Invalid syntax with tuple
list1[2] = 1000      # Valid syntax with list

TypeError: 'tuple' object does not support item assignment

# Dictionary

Like structure in C. It has key value pairs

In [87]:
dict1 = {}
dict1['one'] = "This is a Python"
dict1[2] = "This is a Java"
print(dict1)

{'one': 'This is a Python', 2: 'This is a Java'}

In [88]:
dict2 = {'name': 'rohit', 'id': 1234, 'dept': 'technical'}

In [89]:
print(dict2)

{'name': 'rohit', 'id': 1234, 'dept': 'technical'}

In [93]:
print(dict1['one'])

This is a Python

In [94]:
print(dict1[2])

This is a Java

In [90]:
print(dict2.keys())      # Print all keys

dict_keys(['name', 'id', 'dept'])

In [91]:
print(dict2.values())   # PRint all values

dict_values(['rohit', 1234, 'technical'])

# Set

It is a unordered collection of unique elements.

It is unchangable also.

In [95]:
set1 = {1, 2, 2, 3, 4, 4, 4, 1, 3, 5}
print(set1)

{1, 2, 3, 4, 5}

# Type casting

In [96]:
# Integer
n = 100

# Float 
f = float(n)
print(f)
print(type(n))

100.0
<class 'int'>

In [99]:
# String
s = str(n)
print(s)
print(type(s))

100
<class 'str'>

# List - Indexing and slicing

In [100]:
a = ['spam', 'egg', 'bacon', 'tomato', 'ham', 'lobster']

In [102]:
print(a[2:5])

['bacon', 'tomato', 'ham']

### Negative Indexing

In [2]:
name = 'University'

print(name)
print(len(name))

University
10

In [5]:
print(name[9])
print(name[-1])

y
y

In [8]:
# Positive Indexing

print(name[3])
print(name[1:5])
print(name[:6])
print(name[5:])

v
nive
Univer
rsity

In [11]:
# Negative Indexing

print(name[-10:-1])
print(name[-10:])

Universit
University

In [15]:
# Problem 1: Python program to fiund out the simple interest

Amount = input("Enter your amount : ")
Years = input("Enter no of years : ")
Interest = input("Enter the interest rate : ")
simpleInterest = (int(Amount)*int(Years)*int(Interest))/100
print(simpleInterest)

Enter your amount : 100000
Enter no of years : 3
Enter the interest rate : 12
36000.0

In [8]:
# Program 2: Python program to check wheather the input number is prime no or not

n = int(input("Enter your number: "))
count = 0
for i in range(2, n):
    if(n%i==0):
        count = count + 1
        
if count == 0:
    print("Prime NUmber")
else:
    print("Not Prime")

Enter your number: 56
Not Prime

In [5]:
# Program 3: Python program to print factorial of the number

n = int(input("Enter your number: "))
fact = 1
for i in range(1, n+1):
    fact = fact * i
    
print("Factorial of {} is {}".format(n, fact))

Enter your number: 5
Factorial of 5 is 120